@import "tailwindcss";
@theme {
  --font-playfair: var(--font-playfair);
  --font-nunito: var(--font-nunito);

  --font-family-playfair: var(--font-playfair);
  --font-family-nunito: var(--font-nunito);
}

@utility font-playfair {
  font-family: var(--font-playfair);
}

@utility font-nunito {
  font-family: var(--font-nunito);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}
